<div class="container">
  <form action="/answer" data-turbo="false" class="w-25 align-items-center m-2 p-2" >
    <label for="asking">Pose Ta question au coach</label>
    <input type="text" class="form-control" name="asking" placeholder="Your question">
    <input type="submit" class="form-control" value="Ask!">
  </form>
</div>
